/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* * applies to entire page */
* {
    margin: 0;
    padding: 0;
}

/* Applies to entire body section. Uses google fonts - poppins styles*/
body {
    font-family: "Poppins", sans-serif;
}

/* scroll behavior */
html {
    scroll-behavior: smooth;
}

/* TRANSITION */

/* Makes color change when hovering smoother */
a, 
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
#desktop-nav {
    background-color: black;
}

nav,
.nav-links {
    display: flex;  
}

nav {
    justify-content: space-around;
    align-items: center;
    /* vh = view height set for navbar to take 17% of screen for all sizes*/
    height: 17vh;
}

/* handles links on right of screen */
.nav-links {
    /* rem is best for font sizes and px is best for borders/padding */
    gap: 2rem;
    list-style: none;
    font-size: 1.65rem;
}

.nav-links a {
    color: white;
}

/* styling ALL links in html themselves */
nav a {
    /* color: black; */
    text-decoration: none;
    text-decoration-color: white;
}

 nav a:hover {
    color: #E60C05;
    text-decoration: underline;
    /* adds space in between the underline and text */
    text-underline-offset: 1rem;
    text-decoration-color: #e60d05af;
}

/* red -> white effect */
.logo {
    color: #E60C05;
    font-size: 2.5rem;
    font-weight: 500;
    background: linear-gradient(90deg, #E60C05, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* cursor does not chnage when over logo. only links */
.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

/* # is used to hide on webpages so they can be shown under specific conditions */
#hamburger-nav {
    display: none;
    background-color: black;
}

/* displays in list view */
.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    /* removes bullets */
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

/* turns lines into an X when clicked (crosses the fist and second line*/
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px,-5px);
}

/* Resets it when its closed (resets tranformations above on lines 1 and 3. makes line 2 visible */
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

/* applies to all sections throughout page */
section {
    /* padding-top: 4vh; */
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    /* ensures no overlappinbg */
    min-height: fit-content;
}

.section-container {
    display: flex;
    margin: 0 10rem;
}

/* PROFILE SECTION */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

/* resizes profile picture */
.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    border-radius: 50%;
    overflow: hidden;
    border: #E60C05 2px solid;
    
}

.section_text{
    align-self: center;
    text-align: center
}

/* applies to all p's */
/* .section_text p {
    
} */

.section_text_p1 {
    text-align: center;
    font-size: 1.5rem;
    /* font-weight: 600; */
    /* margin-bottom: 1rem; */
    color: rgb(49, 48, 48);
}

.section_text_p2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3.3rem;
    text-align: center;
    color: #E60C05;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icon {
    cursor: pointer;
    height: 2.5rem;
}

/* Buttons */
.btn-container {
    display: flex;
    justify-content: center;    
    gap: 1.5rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-1,
.btn-2 {
    border: #E60C05 0.1rem solid;
    cursor: pointer;
}

.btn-1,
.btn-2:hover {
    background: #E60C05;
    color: white;
}

.btn-1:hover {
    background: #8b0804;
    border: #8b0804 0.1rem solid;
}

.btn-2 {
    background: none;
}

.btn-2:hover {
    border: #E60C05 0.1rem solid;
}


/* ABOUT SECTION */

#about {
    position: relative;
    background-color: black;
  }

#about h1 {
    padding-top: 5rem;
    color: white;
    text-decoration: underline overline #E60C05;
    text-underline-offset: 1rem;
}

.section_pic-container2 {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about-pic {
    border: white 2px solid;
    /* rounds corners */
    border-radius: 2rem;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: linear-gradient(45deg, #E60C05, rgba(255, 255, 255, 0.226), #E60C05);
    background-size: 300% 300%;
    animation: color 6s ease-in-out infinite;
    border-radius: 2rem;
    /* border: #E60C05 3px solid; */
    text-align: center;
}

@keyframes color {
    0%{
       background-position: 0% 50%; 
    }
    50%{
       background-position: 100% 50%; 
    }
    100%{
       background-position: 0% 50%; 
    }
}

.details-container h3 {
    color: white;
}

.details-container p {
    color: white;
}

.text-container p {
    color: white;
}

.arrow {
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    color: white;
    font-size: 50px;
    text-decoration: none;
    font-weight: 700;
}

.arrow:hover {
    font-size: 60px;
    color: #E60C05;
}

/* EXPERIENCE SECTION */

#experience {
    /* very important for arrows.  */
    position: relative;
}

#experience h1 {
    padding-top: 5rem;
    color: #E60C05;
    text-decoration: underline overline black;
    text-underline-offset: 1rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 10rem;
}

.skills-container {
    padding: 1.5rem;
    flex: 1;
    background: linear-gradient(45deg, #E60C05, black, #E60C05);
    background-size: 300% 300%;
    animation: color 6s ease-in-out infinite;
    border-radius: 2rem;
    /* border: #E60C05 3px solid; */
    text-align: center;
}

@keyframes color {
    0%{
       background-position: 0% 50%; 
    }
    50%{
       background-position: 100% 50%; 
    }
    100%{
       background-position: 0% 50%; 
    }
}

.experience-sub-title {
    color: rgb(175, 175, 175);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* contents wrap when screen is decreased */
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

.stuff {
    text-align: center;
}

.skill h3 {
    color: white;
}

.symbol h3 {
    font-size: 40px;
    font-weight: 600;
    color: #CDA204;
}

article .icon {
    cursor: default;
}

#experience .arrow {
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    color: black;
    font-size: 50px;
    text-decoration: none;
    font-weight: 700;
}

#experience .arrow:hover {
    font-size: 60px;
    color: #E60C05;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
    background-color: black;
}

#projects h1 {
    padding-top: 5rem;
    color: white;
    text-decoration: underline overline #E60C05;
    text-underline-offset: 1rem;
}

.color-container{
    padding: 1.5rem;
    flex: 1;
    background: linear-gradient(45deg, #E60C05, rgba(255, 255, 255, 0.226), #E60C05);
    background-size: 300% 300%;
    animation: color 6s ease-in-out infinite;
    border-radius: 2rem;
    border: white 2px solid;
    text-align: center;
}

@keyframes color {
    0%{
       background-position: 0% 50%; 
    }
    50%{
       background-position: 100% 50%; 
    }
    100%{
       background-position: 0% 50%; 
    }
}


.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: white;
}

.project-btn {
    color: black;
    background-color: white;
    border-color: white;
    font-size: 15px;
}

.project-btn:hover {
    color: white;
    background-color: rgb(85, 82, 82);
    border-color: rgb(175, 175, 175);
}


/* CONTACT SECTION */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 74vh;
    background-color: black;
}

#contact h1 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: white;
    text-decoration: underline overline #E60C05;
    text-underline-offset: 1rem;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: white 2px solid;
    background: #E60C05;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-info-container a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.contact-info-container a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    font-size: 47px;
}

/* FOOTER */
footer {
    height: 26vh;
    margin: 0;
    background-color: black;
}

footer p {
    text-align: center;
    color: #E60C05;
}